.review-details-container{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    gap: 20px;
    border: none;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.review-details-container img{
    width: 150px;
    border-radius: 50%;
}

.review-details{
    text-align: start;
    line-height: 25px;
}

.message{
    font-weight: 500;
}

@media screen and (max-width: 490px){
    .review-details-container{
        display: block;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: .5rem;
    }
    .review-details-container img{
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 776px){
    .review-details-container{
        display: block;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: .5rem;
    }
    .review-details-container img{
        margin-bottom: 2rem;
    }    
}
@media screen and (min-width: 992px){
    .review-details-container{
        display: flex;
        width: 80%;
    }   
}