.about-container{
    margin: 0 30px;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    margin-bottom: 2rem;
    margin: 0 auto;
}

.about-header{
    font-size: 2rem;
}

.about-title{
    font-weight: 600;
    margin-top: 2.5rem;
}

@media screen and (max-width: 490px){
    .about-container{
        margin: 0 30px;
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5rem;
        margin-bottom: 2rem;
        margin: 0 auto;
    }  
}

@media screen and (min-width: 776px){
    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        margin-bottom: 2rem;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px){
    .about{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        width: 70%;
    }
}