.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: bisque;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.link{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}